[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.devnet]
moat_registry = "FTVm8gDndxnocAqi4sr53BnaymMXxESNGHgTzagJX2qY"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/devnet.json"

[scripts]
test = "pnpm exec mocha -t 1000000 tests/"
